.active {
    color: green;
    font-weight: bold;
  }
  
  .completed {
    color: gray;
    text-decoration: line-through;
    font-style: italic;
  }
  
  /* 過濾功能用 */
  .normal-btn {
    background-color: #dbcaca;
    color: black;
    border: 1px solid black;
  }
  
  .active-btn {
    background-color: #7416df;
    color: white;
    border: 1px solid black;
  }