$primary: #137976;
$primary-dark: #0d5654;
$primary-light: #7fb8b6;
$primary-bg: #e5efef;
$secondary: #ffce56;
$light-bg: #fff7e3;

// 字體配色-+
$font: #5f5f5f;
$font-light: #ffff;
$font-brown: #6b4f5b;

// 常用設定

@mixin max-wh {
  max-width: 100%;
  max-height: 100%;
}

@mixin m-p-0 {
  margin: 0;
  padding: 0;
}
.m-p-0 {
  margin: 0 !important;
  padding: 0 !important;
}

// 水平置中對齊
@mixin align {
  justify-content: center;
  align-items: center;
}

.align {
  @include align;
}

// 圓角
@mixin radius {
  border-radius: 10px;
}
// 陰影
@mixin shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

// 按鈕操作
@mixin btn-use {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}

.introductionCard {
  width: 250px;
  position: relative;
  margin: 15px;
  padding: 0px;
  transition: 0.6s;
  border-radius: 10px;
  
  &:hover {
    box-shadow: 0 0 25px $secondary;
    transition: 0.3s;
  }

  .content-overlay {
    padding-top: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    border-radius: 10px;
  }



  .textbox {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);

    h4 {
      color: white;
      transition: transform 0.5s;
    }

    p {
      color: white;
      height: 50px;
      padding-top: 23px;
    }
  }

  .invisible {
    opacity: 0;
  }

  .visible {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .title {
    position: absolute;
    bottom: 10px;
  }

  .title-hover {
    position: absolute;
    bottom: 45px;
  }
  .buttonStyle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
  }
}
