// body
.map-query {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 80px;
}
// ======

// 地圖
.map {
  width: 35%;
  position: relative;
  top: 0px;
  left: 40%;
}
// ======

// 箭頭標題

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9 {
  display: flex;
  align-items: center;
  position: absolute;

  &:hover {
    .arrow-icon svg {
      fill: #ffc700;
    }

    .text-container h2,
    .text-container p {
      color: #ffc700;
    }

    .text-container p {
      border-top-color: #ffc700;
    }
  }
}
// 鳥松區
.container-1 {
  right: 5%;
  top: 70px;
}
// 鳳山區
.container-2 {
  right: 10%;
  top: 200px;
}
// 前鎮區
.container-3 {
  right: 24%;
  top: 360px;
}
// 苓雅區
.container-4 {
  left: 24%;
  top: 255px;
}
// 鹽埕區 前金區 新興區
.container-5 {
  left: 5%;
  top: 100px;
}
// 三民區
.container-6 {
  top: -87px;
  right: 10%;
}
// 左營區
.container-7 {
  left: 30%;
  top: -87px;
}
// 鼓山區
.container-8 {
  left: 20%;
  top: 15px;
}
// 旗津區
.container-9 {
  left: 35%;
  top: 360px;
}

.text-container {
  margin-left: 10px;
  padding-top: 25px;
  text-align: center;

  h2,
  p {
    white-space: pre-line;
    transition: color 0.3s, border-top-color 0.3s;
  }

  p {
    border-top: 4px solid #000000;
  }
}
// ======

// hover變化
.path {
  stroke: white;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    fill: #ffc700;
    transform: translate(5px, -5px);
    stroke: yellow;
  }
}

.selected-area {
  fill: #ffc700;
  transform: translate(5px, -5px);
  stroke: yellow;
}

.hovered-area {
  color: #ffc700;
}

.text-container p {
  border-top: 4px solid #000000;
}

.text-container p.hovered-text {
  border-top: 4px solid #ffc700;
}

.arrow-icon svg,
.text-container h2,
.text-container p {
  cursor: pointer;
}
