$primary: #137976;
$primary-dark: #0d5654;
$primary-light: #7fb8b6;
$primary-bg: #e5efef;
$secondary: #ffce56;
$light-bg: #fff7e3;

// 字體配色-+
$font: #5f5f5f;
$font-light: #ffff;
$font-brown: #6b4f5b;

// 常用設定

@mixin max-wh {
  max-width: 100%;
  max-height: 100%;
}

@mixin m-p-0 {
  margin: 0;
  padding: 0;
}
.m-p-0 {
  margin: 0 !important;
  padding: 0 !important;
}

// 水平置中對齊
@mixin align {
  justify-content: center;
  align-items: center;
}

.align {
  @include align;
}

// 圓角
@mixin radius {
  border-radius: 10px;
}
// 陰影
@mixin shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

// 按鈕操作
@mixin btn-use {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}
// -----------------
//RWD
//
@mixin xxl {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}
// 不顯示
@mixin none {
  display: none;
}
// 顯示
@mixin block {
  display: block;
}

.foodSearch {
  background-color: #addddb;
  position: relative;
  border-radius: 8px;
  height: 80px;
  margin: auto;

  input,
  button {
    padding: 0.25rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #a5c4c3;
    border-radius: 8px 0px 0px 8px;
    position: relative;
    top: -30px;
    width: 70%;
    left: 166px;
    @include xxl {
      left: 133px;
      @include xl {
        left: 112px;
        @include lg {
          left: 75px;
          @include md {
            left: 55px;
          }
        }
      }
    }
  }
  button {
    background-color: $primary;
    border-radius: 0px 8px 8px 0;
    border: 1px solid $primary;
    width: 50px;
    svg {
      color: $font-light;
      width: 20px;
      height: 20px;
      margin: auto;
      height: 100%;
    }
  }
  .texThead {
    position: absolute;
    top: 33px;
    left: 85px;
    @include xxl {
      top: 33px;
      left: 88px;
      @include xl {
        top: 33px;
        left: 53.5px;
        @include lg {
          top: 33px;
          left: 15px;
          @include md {
            top: 33px;
            left: 15px;
          }
        }
      }
    }
  }
  .section {
    width: 155px;
    border-radius: 30px;
    text-align: center;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;

    li {
      margin-inline: 60px;
      @include xxl {
        margin-inline: 40px;
        @include xl {
          margin-inline: 30px;
          @include lg {
            margin-inline: 14px;
          }
        }
      }
    }
  }
}
@include xxl {
}
@include xl {
}
@include lg {
}
@include md {
}
@include sm {
}
