.foodSearch {
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  background-color: #addddb;
  position: relative;
  border-radius: 8px;
  height: 250px;
  margin: auto;

  input,
  button {
    padding: 0.25rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #a5c4c3;
    border-radius: 8px 0px 0px 8px;
    position: relative;
    top: -45%;
    left: 13%;
    width: 70%;
  }
  button {
    background-color: $primary;
    border-radius: 0px 8px 8px 0;
    border: 1px solid $primary;
    width: 50px;
    svg {
      color: $font-light;
      width: 20px;
      height: 20px;
      margin: auto;
      height: 100%;
    }
  }

  .texthead {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .css-1u9des2-indicatorSeparator {
      display: none;
    }
    .css-13cymwt-control {
      border-radius: 20px;
      margin-top: -40px;
    }
    .css-t3ipsp-control {
      border-radius: 20px;
      margin-top: -40px;
    }
    p {
      font-size: 24px;
      font-weight: bold;
      font-family: Noto Sans SC;
      color: $font;
    }
    ul {
      margin-top: -30px;
    }
    li {
      font-size: 1.25rem;
      font-weight: bold;
      font-family: Noto Sans SC;
      color: $font;
      padding: 8px 0;
    }
  }

  @media screen and (max-width: 1000px) {
    .texthead {
      select {
        width: 120px;
        height: 40px;
        border: 1px solid #bababa;
        border-radius: 50px;
        font-size: 24px;
      }
      li {
        font-size: 20px;
      }
    }
  }

  //search元件的標籤CSS
  .textsection2 {
    padding-left: 10px;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 220px;
      border-left: 2px solid $font;
    }
    li {
      width: 50%; /* 兩列，每列佔據50%的寬度 */
      box-sizing: border-box;
    }
  }
}
