// 字體大小
.text_24 {
  font-size: 24px;
  color: $font;
  text-align: center;
  letter-spacing: 0.05em;
}
.text_light_24 {
  font-size: 24px;
  color: $font-light;
  text-align: center;
  letter-spacing: 0.05em;
}
.text_16 {
  font-size: 16px;
  color: $font;
  text-align: start;
  letter-spacing: 0.05em;
}
