$primary: #137976;
$primary-dark: #0d5654;
$primary-light: #7fb8b6;
$primary-bg: #e5efef;
$secondary: #ffce56;
$light-bg: #fff7e3;

// 字體配色-+
$font: #5f5f5f;
$font-light: #ffff;
$font-brown: #6b4f5b;

// 常用設定

@mixin max-wh {
  max-width: 100%;
  max-height: 100%;
}

@mixin m-p-0 {
  margin: 0;
  padding: 0;
}
.m-p-0 {
  margin: 0 !important;
  padding: 0 !important;
}

// 水平置中對齊
@mixin align {
  justify-content: center;
  align-items: center;
}

.align {
  @include align;
}

// 圓角
@mixin radius {
  border-radius: 10px;
}
// 陰影
@mixin shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

// 按鈕操作
@mixin btn-use {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}
// -----------------
//RWD
@mixin pad {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// 基礎圖片樣式(照片款)
.img-photo {
  border: 5px solid #ffffff;
  @include shadow;
}
// 圖片
.a-img-box {
  @include max-wh;
  @include shadow;
  border: 10px solid #ffffff;
  margin: 5px;
  object-fit: contain;
}

// 設定結束
// 封面圖
.title_cover {
  // @include max-wh;
  border: 10px solid #ffffff;
  @include shadow;
  transform: rotate(6.51deg) translateY(5%);
  object-fit: 'cover';
  margin: '5px';
  width: 800px;
  height: 450px;

  @include pad {
    width: 700px;
    height: 400px;
  }
}
// 動態背景試玩
// 左到右
@keyframes moveLeftTo {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(100vw);
  }
}
// 右到左
@keyframes moveRightTo {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-200px);
  }
}

.cloud-right {
  animation: moveRightTo 30s cubic-bezier(0.4, 0, 1, 1) infinite;
  position: fixed;
  z-index: -50;
  top: 30vh;
  opacity: 0.9;
}

.cloud-left {
  animation: moveLeftTo 30s cubic-bezier(0.4, 0, 1, 1) infinite;
  position: fixed;
  z-index: -50;
  top: 70vh;
  opacity: 0.9;
}
// 動態背景結束

// 標題框-便利貼
.attractionName {
  // max-width: 500px;
  // max-height: 100px;
  // min-width: 500px; //TODO RWD要設定縮小
  width: auto;
  height: auto;
  display: flex;
  @include align;
  @include shadow;
  background: url('/images/attraction/title_note.png');
  object-fit: cover;
  background-repeat: no-repeat;
  margin: 100px 0 0 250px;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: $font-light;
  z-index: 500;
  @include pad {
    min-width: 300px; //TODO RWD要設定縮小
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 0 50px;
  }
  @include mobile {
    max-width: 150px; //TODO RWD要設定縮小
    max-height: 70px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0px;
  }
  // 標題文字
  .name {
    @include max-wh;
    padding: 10px 70px;
    @include align;
    @include mobile {
      padding: 10px 10px;
    }
  }
}

.a-text-box {
  display: block;
  height: 50%;
  padding: 80px;
  // margin-inline: 10px;
  @include radius;
  display: flex;
  @include align;
  @include shadow;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.05em;
}

.a-text-box-light {
  background-color: $primary-light;
  color: $font-light;
}
.a-text-box-dark {
  background-color: $primary-dark;
  color: $font-light;
}

.tY-20 {
  transform: translateY(20%);
}
.tY--20 {
  transform: translateY(-20%);
}
.ty-100 {
  transform: translateY(100%);
}
// 輪播套件設定
.silderA-bg {
  background: $primary-bg;
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-block: 20px;
  margin-top: 50px;
  padding-block: 20px;

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    .slick-center {
      transform: scale(1.15);
    }
    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      border: 10px solid #ffffff;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      margin: 15px;
      @include pad {
        width: 200px;
        height: 150px;
      }
      @include mobile {
        width: 150px;
        height: 100px;
      }
    }
  }
  .slick-dots li button:before {
    color: #137976;
    padding: 30px;
  }
}
// 全頻背景
.vw-bg {
  width: 100vw;
  background: $primary-bg;
  // 預覽輪播圖
  .preview-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // 預覽圖按鈕
    button {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: none;
      background: $secondary;
      color: $font-light;
      font-size: 30px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    // 預覽圖
    .preview {
      max-width: 300px;
      max-height: 150px;
      margin-block: 50px;
    }
  }
}

// .map-container {
//   min-width: 700px;
//   min-height: 500px;
// background-image: url('/images/attraction/草神.png') no-repeat center center;
// }
.a-align-box {
  padding: 50px;
  @include radius;
  @include shadow;
  margin-top: 30px;

  div {
    @include align;
    div {
      padding: 5px;
    }
  }
}

.a-card {
  width: 350px;
  height: 500px;
  margin: 10px;
  img {
    margin: 10px;
    width: 280px;
    height: 320px;
    object-fit: cover;
  }
}

.a-card-box {
  width: auto;
  height: 160px;
  padding: 5px 15px;
}

.footer-space {
  color: transparent;
  background-color: transparent;
  height: 50px;
}
.footer-space-bg {
  color: transparent;
  background-color: $primary-bg;
  height: 50px;
}
// 導覽頁

// 背景圖+遮罩
.img-dark-bg {
  // max-width: 100vw;
  // height: 400px;
  // position: relative;
  // background: url('/images/attraction/美麗島.jpg') no-repeat;
  // background-size: cover;
  // background-position: center;
  // &::before {
  //   content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.01)
  );
  // }
  div {
    position: absolute;
    top: 300px;
    right: 30px;
    background-color: #ffffff;
    padding: 5px 50px;
    border: 1px solid black;
    font-weight: 700;
  }
}
.relative {
  position: relative;
  height: 850px;
  svg {
    transform: translateX(-10%) translateY(-10%);
  }
  .a-title-box {
    position: absolute;
    top: 10%;
    .a-title-C {
      font-size: 36px;
      font-weight: 700;
      color: $primary-dark;
      z-index: 1;
      margin-left: 100px;
    }
    // 標題 英文
    .a-title-E {
      color: #ffce56;
      text-shadow: 1px 1px 1px gray;
      z-index: 1;
      margin-left: 100px;
    }
  }
}
// 標題 中文

// TODO 待更換元件--卡片
.half-bg {
  @include m-p-0;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    $primary-bg 50%,
    $primary-bg 100%
  );
  // padding-bottom: 100px;
  z-index: 3;
}

.attraction-display-box {
  position: relative;
  z-index: 2;
  padding: 50px;
  // transform: translateY(-10%);
  @include radius;
  @include shadow;

  .display-card {
    max-height: 250px;
    width: 115%;
    margin-top: 60px;

    transform: translateX(-10%);
    .left-box {
      transform: rotate(-18.33deg);
      &:hover {
        transform: rotate(-18.33deg) translateY(-10%);
        z-index: 5;
      }
    }
    .center-box {
      transform: translateY(-10%);
      &:hover {
        transform: translateY(-20%);
        z-index: 5;
      }
    }
    .right-box {
      transform: rotate(18.33deg);
      &:hover {
        transform: rotate(18.33deg) translateY(-10%);
        z-index: 5;
      }
    }
  }
}

.ty-300 {
  position: relative;
  z-index: 1;
  width: 100vw;
  background: $primary-bg;

  .container {
    // 位移搜索列以下
    position: relative;
    z-index: 5;
    padding-top: 30px;
    // transform: translateY(150%);
  }

  .c {
    position: relative;
    z-index: 1;
    max-width: 95%;
    margin-inline: auto;
    margin-block: 15px;
  }
}

// TODO 行程頁
// NAV-TAB樣式
.nav-tabs {
  // margin-top: 20%;
  background-color: #95d0c7;
  max-height: 100vh;

  .dark {
    background-color: #568886;
  }
  .nav-item {
    @include m-p-0;
    @include align;
    &:hover {
      background-color: $primary-dark;
    }
    .nav-link {
      color: $font-light;
      padding: 10px 30px;
      margin-top: 10px;
      border: 0;
      @include btn-use;
      i {
        margin-left: 6px;
      }
    }
  }
}

//卡片欄位
.i-card {
  max-height: 90vh;

  overflow-y: scroll;
  @include m-p-0;
  padding: 10px 0 0 30px;
  transform: translateX(-10px);
  // 調整捲軸樣式
  // 卷軸
  &::-webkit-scrollbar {
    width: 5px;
    // 把y軸隱藏
    height: 0px;
  }
  // 捲動的軌道
  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 30px;
    &:hover {
      background: $secondary;
    }
  }
  // 捲動的軌道背景
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
}

// 交通時間
.i-travel-time-box {
  @include m-p-0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #0d5654;
  font-weight: 700;
  .time-box {
    border-left: 1px dashed #0d5654;
    padding: 20px 0;
    margin-inline: 20px;
    height: 30px;
  }
  .travel-time {
    margin-inline: 10px;
    // font-weight: 900;
  }
}

// 導覽介紹展開分頁
.i-bg {
  @include m-p-0;
  background-color: $primary-light;
  max-height: 100vh;
  position: relative;
  z-index: 0 !important;
  hr {
    border: 1px solid;
    // margin-top: 5px;
  }
  .i-d-content {
    @include m-p-0;
    // margin-top: 28%;
    color: $font-light;
    // 標題

    img {
      width: 100%;
      height: 100%;
    }
    // 內容
    .d-content {
      padding: 5px 30px 0px 30px;
      font-size: 16px;
      letter-spacing: 0.08em;
      div {
        padding: 5px;
        i {
          font-size: 20px;
          padding-right: 20px;
        }
      }
    }
  }

  .add-i-btn {
    background-color: $secondary;
    margin-top: 5px;
    color: $font-brown;
    font-weight: 900;
    line-height: 35px;
    @include shadow;
    border: 2px solid $font-brown;
    @include btn-use;
  }
  .add-f-btn {
    background-color: $primary;
    color: $font-light;
    font-weight: 900;
    line-height: 35px;
    @include shadow;
    border: 2px solid $font-brown;
    @include btn-use;
  }
}

// TODO 搜索列
.i-search {
  //   display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  // ------

  position: relative;

  border-radius: 8px;
  margin: auto;

  input,
  button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #a5c4c3;
    border-radius: 8px 0px 0px 8px;
    position: relative;
    left: 10%;
    width: 70%;
  }
  button {
    background-color: $primary;
    border-radius: 0px 8px 8px 0;
    border: 1px solid $primary;
    width: 50px;
    @include btn-use;
    svg {
      color: $font-light;
      width: 20px;
      height: 20px;
      margin: auto;
      height: 100%;
    }
  }
}

// 篩選框

//搜尋search頁
// 搜尋列(輸入框+查詢按鈕)
.a-search {
  justify-content: center;
  align-items: center;
  background-color: #addddb;
  position: relative;
  border-radius: 8px;
  height: 230px;
  // width: 70%;
  // margin: auto;

  .a-search-input {
    position: relative;
    top: -15%;
    left: 13%;

    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    padding: 0.25rem;
    .search-input {
      width: 70%;
    }
  }
  .a-popular {
    display: flex;
    flex-wrap: nowrap;
    i {
      margin-left: 10px;
      font-size: 16px;
      margin-top: 3px;
    }
    .a-popular-search {
      font-size: 16px;
      font-weight: bold;
      color: $font;
      margin-right: 20px;
      margin-left: 10px;
      @include btn-use;
      // width: 70%;
    }
  }
  .search-input,
  button {
    padding: 0.25rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #a5c4c3;
    border-radius: 8px 0px 0px 8px;
    position: relative;
  }
  // 按鈕樣式
  button {
    background-color: $primary;
    border-radius: 0px 8px 8px 0;
    border: 1px solid $primary;
    width: 50px;
    @include btn-use;
    svg {
      color: $font-light;
      width: 20px;
      height: 20px;
      margin: auto;
      height: 100%;
    }
  }
}

.a-checkbox-select {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
  transform: translateX(-8%);

  @include m-p-0;
  .a-tag-box {
    margin-right: 100px;
    margin-top: 20px;
    padding-right: 50px;
    border-right: 3px solid $primary;
    .a-tag-input {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      margin-top: 9px;
    }
    .a-tag-label {
      cursor: pointer;
      padding: 5px;
      @include btn-use;
    }
  }

  select {
    width: 180px;
    height: 40px;
    border: 1px solid #bababa;
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
  }
  p {
    font-size: 24px;
    font-weight: bold;
    font-family: Noto Sans SC;
    color: $font;
  }
  div {
    font-size: 1.25rem;
    font-weight: bold;
    color: $font;
  }
}

.textsection {
  border-left: 2px solid $font;
  padding-left: 30px;
}

@media screen and (max-width: 1000px) {
  .texthead {
    select {
      width: 120px;
      height: 40px;
      border: 1px solid #bababa;
      border-radius: 50px;
      font-size: 24px;
    }
    li {
      font-size: 20px;
    }
  }
}

//新的search標籤CSS
.textsection2 {
  // border-left: 2px solid $font;
  padding-left: 30px;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
  }
  li {
    width: 50%; /* 兩列，每列佔據50%的寬度 */
    box-sizing: border-box;
  }
}

.a-no-find {
  font-size: 24px;
  font-weight: bold;
  color: $font;
}

// 分頁
.a-pagebtn {
  display: flex;
  justify-content: center;
  font-size: 30px;
  .page {
    margin-inline: 50px;
  }
  button {
    border: none;
    margin: 30px 20px;
    color: $primary-dark;
    font-weight: bold;
    background-color: transparent;
  }
  button[disabled] {
    color: rgb(107, 105, 105, 0.5);
  }
  button.current-page {
    color: #fff;
    background-color: $primary;
    width: 40px;
    border-radius: 50%;
  }
}

// 行程頁-offcanvas介紹分頁
.a-i-offcanvas {
  width: 310px !important;
  z-index: 0 !important;
  margin-left: calc(25% - 2px);
  margin-top: 100px;
  background-color: $primary-light;
  color: #e5efef;
  .a-i-offcanvas-title {
    font-size: 24px;
    font-weight: bold;
    color: $font-light;
    // margin-bottom: 20px;
    margin-bottom: -3px;
  }
}
.a-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1eee3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
  img {
    width: 300px;
    height: 300px;
  }
}
