$primary: #137976;
$primary-dark: #0d5654;
$primary-light: #7fb8b6;
$primary-bg: #e5efef;
$secondary: #ffce56;

// 字體配色-+
$font: #5f5f5f;
$font-light: #ffff;

// 常用設定

@mixin max-wh {
  max-width: 100%;
  max-height: 100%;
}
// 水平置中對齊
@mixin align {
  justify-content: center;
  align-items: center;
}

// 圓角
@mixin radius {
  border-radius: 10px;
}
// 陰影
@mixin shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
// -----------------
//RWD
@mixin pad {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// 基礎圖片樣式(照片款)
.img-photo {
  border: 5px solid #ffffff;
  @include shadow;
}
// 圖片
.a-img-box {
  @include max-wh;
  @include shadow;
  border: 10px solid #ffffff;
  margin: 5px;
  object-fit: contain;
}

// 設定結束
// 封面圖
.title_cover {
  @include max-wh;
  border: 10px solid #ffffff;
  @include shadow;
  transform: rotate(6.51deg);
}

// 標題框-便利貼
.attractionName {
  max-width: 500px;
  max-height: 100px;
  // min-width: 500px; //TODO RWD要設定縮小
  width: auto;
  height: auto;
  display: flex;
  @include align;
  background: url('/images/attraction/title_note.png');
  background-repeat: no-repeat;
  margin: 100px 0 0 200px;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: $font-light;
  z-index: 500;
  @include pad {
    min-width: 300px; //TODO RWD要設定縮小
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 0 50px;
  }
  @include mobile {
    max-width: 150px; //TODO RWD要設定縮小
    max-height: 70px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0px;
  }
  // 標題文字
  .name {
    @include max-wh;
    padding: 10px 70px;
    @include align;
    @include mobile {
      padding: 10px 10px;
    }
  }
}

.a-text-box {
  height: 50%;
  padding: 80px;
  @include radius;
  display: flex;
  @include align;
  @include shadow;
}

.a-text-box-light {
  background-color: $primary-light;
  color: $font-light;
}
.a-text-box-dark {
  background-color: $primary-dark;
  color: $font-light;
}

.tY-20 {
  transform: translateY(20%);
}
.tY--20 {
  transform: translateY(-20%);
}
.ty-100 {
  transform: translateY(100%);
}
// 全頻背景
.vw-bg {
  width: 100vw;
  background: $primary-bg;
  // 預覽輪播圖
  .preview-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // 預覽圖按鈕
    button {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: none;
      background: $secondary;
      color: $font-light;
      font-size: 30px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    // 預覽圖
    .preview {
      max-width: 300px;
      max-height: 150px;
      margin-block: 50px;
    }
  }
}

.map-container {
  @include align;
  width: 500px;
  height: 400px;
  padding: 20px;
  margin-inline: auto;
  background-color: #ffffff;
  @include shadow;
}

.a-traffic-box {
  padding: 50px;
  @include radius;
  @include shadow;
  margin-top: 30px;

  div {
    @include align;
    div {
      padding: 5px;
    }
  }
}

.a-card {
  width: 350px;
  height: 500px;
  margin: 10px;
  img {
    margin: 10px;
    width: 280px;
    height: 320px;
    object-fit: cover;
  }
}

.a-card-box {
  width: auto;
  height: 160px;
  padding: 5px 15px;
}

// 導覽頁

// 背景圖+遮罩
.img-dark-bg {
  max-width: 100vw;
  height: 400px;
  position: relative;
  background: url('/images/attraction/美麗島.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.01)
    );
  }
  div {
    position: absolute;
    top: 300px;
    right: 30px;
    background-color: #ffffff;
    padding: 5px 50px;
    border: 1px solid black;
    font-weight: 700;
  }
}
// 標題 中文
.a-title-C {
  font-size: 48px;
  font-weight: 700;
  color: $primary-dark;
  z-index: 1;
}
// 標題 英文
.a-title-E {
  color: #ffce56;
  text-shadow: 1px 1px 1px gray;
  z-index: 1;
}
