// 檔案位置: styles/global.scss
// 變數覆蓋用 (Variable overrides)
// 全站配色 colors
$primary: #137976;
$primary-dark: #0d5654;
$primary-light: #7fb8b6;
$primary-bg: #e5efef;
$secondary: #ffce56;

// 字體配色
$font: #5f5f5f;
$font-light: #ffff;

// 按鈕圓角邊 button radius
$border-radius: 0.2em;
$border-radius-sm: 0.2em;
$border-radius-lg: 0.2em;


/* cart */
.cart-card {
  height: auto;
  max-width: 700px;
}

.cart-card .iconbar {
  font-size: 18px;
}

#cart-index{
  margin: 0;
  padding-inline: 160px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  //1.購物順序
  #cart-steps{
    padding-block: 20px;
    
    p{
      margin: 0;
      font-size: 28px;
      font-weight: 500;
      color:$font;
    span{
      height: 100%;
      padding-left: 20px;
      font-size: 20px;
      text-align: center;
    }
    }
    .now-step{
      color:$primary;
    }
  }

  //2.購物車內商品
  #cart-products{
    //2-1 選擇商品類型 
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      padding:8px 20px;
      letter-spacing: 2px;
      overflow: hidden;
      transition: color 1s , background-color 1s;
      &:hover{
        background-color: #7Fb8b6;
        color: #fff;
        border-radius: 15px 15px 0px 0px;
        
      
      }
    }
    .now-product-type{
      background-color: #7Fb8b6;
      color: #fff;
      border-radius: 15px 15px 0px 0px;
      
    }
    //2-2 購物車table 
    #cart-list{
      thead{
        background-color: #7Fb8b6;
        
        color: #fff;
        height: 40px;
        tr{
          border-radius: 5px 5px;
        }
        tr th{
          font-weight: 500;
          &:nth-child(1){
            padding-left: 30px;
          }
        }
        
      }
      tbody{
        tr{
          &:nth-child(2n){
            background-color: #E5EFEF;
          }
          &:nth-child(2n+1){
            background-color: #FBFBFB;
          }
        }
        tr td{
          height: 160px;
          &:nth-child(1){
            padding-left: 20px;
          }
          
        }
        
      }
    }
  }

  //4.按鈕
  button{
    font-size: 16px;
    
    font-weight: 300;
    letter-spacing: 2px;
    width: 140px;
    padding-block: 10px;
  }
}