// body
.query-body {
  background-image: url('/images/food/紙感背景.jpg');
  background-repeat: repeat;
}
//======

// 頁首空間
.head-space {
  height: 300px;
  position: relative;
}
// ======

// 可愛圖片
.boat {
  height: auto;
  opacity: 0.5;
  position: absolute;
  left: 15%;
  top: 80%;
  transform: rotate(-10deg);
  img {
    width: 200px;
  }
}
.crocodile {
  height: auto;
  opacity: 0.5;
  position: absolute;
  right: 14%;
  top: 83%;
  transform: rotate(10deg);
  img {
    width: 200px;
  }
}
.chicken {
  height: auto;
  opacity: 0.5;
  position: absolute;
  right: 10%;
  top: 110%;
  transform: rotate(0deg);
  img {
    width: 200px;
  }
}
// ======

// 頁尾空間
.footer-space {
  height: 500px;
}
// ======