// body
.query-body {
  background-image: url('/images/food/紙感背景.jpg');
  background-repeat: repeat;
}
//======

// 頁首空間
.head-space {
  height: 200px;
  position: relative;
}
// ======

// 商家名、介紹文、收藏心
.love-icon{
  font-size: small;
}
// ======

// 頁尾空間
.footer-space {
  height: 10px;
}
// ======
