$primary: #137976;
$primary-dark: #0d5654;
$primary-light: #7fb8b6;
$primary-bg: #e5efef;
$secondary: #ffce56;
$light-bg: #fff7e3;
@mixin xxl {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}
// 不顯示
@mixin none {
  display: none;
}
// 顯示
@mixin block {
  display: block;
}
// Page1
#homepage-1 {
  max-height: -webkit-calc(100vh - 120px);
  margin-bottom: 20px;
  @include md {
    margin-bottom: 0px;
  }

  // 1-1 社群按鈕列
  #slider-icon {
    width: 160px;
    padding-bottom: 20vh;
    @include md {
      display: none;
      width: 0;
    }
  }
  .media-icon {
    font-size: 30px;
    color: #5f5f5f;
    margin-top: 12px;
    @include md {
      display: none;
      width: 0;
    }
  }
  .media-icon:hover {
    color: #b1b1b1;
  }
  // 1-2-1輪播圖
  .slider-container {
    position: relative;
    flex: 1;
    overflow: hidden;
    padding-right: 160px;
    @include md {
      padding-right: 0;
      background-color: #0d5654;
    }
  }
  .slide-pic {
    width: 100%;
    aspect-ratio: 16/9;
    max-height: -webkit-calc(100vh - 200px);

    object-fit: contain;
    object-position: right bottom;
  }

  .slick-slider {
    max-height: -webkit-calc(100vh - 120px);
    // overflow: hidden;
  }
  .slick-list {
    height: 85%;
  }

  .slick-dots {
    position: relative;
    bottom: -25px;
    padding-bottom: 50px;
    @include md {
      bottom: 50px;

      background-image: linear-gradient(
        to top,
        hsla(0, 0%, 38%, 0.819),
        transparent
      );
      padding-bottom: 10px;
    }
    li button:before {
      @include md {
        color: $secondary;
      }
    }
  }
  .slide-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // 1-2-2輪播圖文字
  .homepage-text {
    background: white;
    padding-inline: 20px;
    font-size: 24px;
    font-weight: 700;
    z-index: 10;
    @include sm {
      display: none;
    }
  }

  #homepage-text1 {
    position: absolute;
    top: 60%;
    right: 100%;

    animation: text-slidein 0.8s 0.5s ease-in forwards;
    @include md {
      animation: none;
      right: 15%;
      top: 55%;
    }
  }
  #homepage-text2 {
    position: absolute;
    top: calc(60% + 70px);
    right: 100%;

    animation: text-slidein 1s 0.5s ease-in forwards;
    @include md {
      top: calc(55% + 70px);

      animation: none;
      right: 15%;
    }
  }
}

@keyframes text-slidein {
  from {
    opacity: 0;
    right: 0%;
  }
  to {
    opacity: 1;
    right: calc(10% + 160px);
  }
}

// Page2
#homepage-2 {
  @include md {
    margin-top: -50px;
  }
  // height: -webkit-calc(100vh - 120px);
  position: relative;
  background-color: #0d5654;
  // 2-1-1背景圈圈
  .background-circles {
    position: absolute;
    top: 30px;
    left: -30px;
    @include md {
    }
  }
  .circle {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    @include md {
      width: 40px;
      height: 40px;
    }
    @include sm {
      display: none;
    }
  }
  // 2-1-2 頁面標題

  // 2-2輪播圖
  .slick-slider {
    padding-block: 70px;
    @include sm {
      padding-block: 20px;
    }
  }
  .slick-list {
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .slick-prev {
    position: absolute;
    left: 38%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url('../assets/homepage/prev.png');
    box-shadow: 2px 5px 5px #333;
    z-index: 30;
    &::before {
      content: '';
    }
    &:hover {
      background-image: url('../assets/homepage/prevHover.png');
    }
    @include xl {
      left: 30%;
    }
    @include sm {
      left: 15%;
    }
  }
  .slick-next {
    position: absolute;
    right: 38%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url('../assets/homepage/next.png');
    z-index: 30;
    box-shadow: 2px 5px 5px #333;
    &::before {
      content: '';
    }
    &:hover {
      background-image: url('../assets/homepage/nextHover.png');
    }
    @include xl {
      right: 30%;
    }
    @include sm {
      right: 15%;
    }
  }
  .slick-dots {
    visibility: hidden;
  }

  // homepageCard1
  .homepageCard1 {
    aspect-ratio: 3/2;

    max-width: 16vw;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
      -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: 1px solid #bababa;
    background: #fff;
    padding: 30px 30px 0px 30px;
    margin-top: 20px;
    margin: 0 auto;

    transition: all 0.8s;
    @include xl {
      max-width: 26vw;
      padding: 25px 25px 0px 25px;
    }
    @include sm {
      max-width: 250px;
      padding: 25px 25px 0px 25px;
    }
    &:hover {
      transform: scale(1.1);
      border-radius: 3px;
    }
    .imgbox {
      width: 100%;
      aspect-ratio: 1/1;
    }
    .textbox {
      margin: 15px 0px 0 0px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 92px;
      margin-bottom: 15px;
    }
  }
}

// Page4
#homepage-4 {
  width: 100%;
  min-height: 68vh;
  position: relative;
  overflow: hidden;

  // 4-1背景波浪
  .wave {
    background-color: #188686;
    width: 200vw;
    height: 200vw;
    opacity: 0.4;
    position: absolute;
    bottom: -180vw;
    left: 50%;
    margin-left: -70vw;
    margin-top: -100vw;
    border-radius: 41%;
    z-index: 30;
    animation: rotate 12000ms infinite linear;

    &:nth-child(1) {
      background-color: #3f8787;
      left: 47%;
      opacity: 0.2;
      animation: rotate 16000ms infinite linear;
    }
    &:nth-child(2) {
      left: 43%;
      animation: rotate 20000ms infinite linear;
      opacity: 0.1;
      background-color: #777;
    }
  }

  // 4-2標題
  .homepage4-title {
    font-family: 'Noto Sans TC', sans-serif;
  }

  // 4-3卡片
  .card-container {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 100px;
    justify-content: space-between;

    @include xl {
      justify-content: center;
      margin-bottom: 20px;
    }
    @include md {
      padding-inline: 10px;
    }
  }

  // homepageCard2
  .homepageCard2 {
    position: relative;
    width: 18vw;

    margin-bottom: 60px;

    display: inline-block;
    border-radius: 5px;
    border: 1px solid #bababa;
    margin-inline: 10px;
    z-index: 500;
    color: #333;

    // overflow: hidden;
    @include xl {
      width: 30vw;
      max-width: 270px;

      margin-bottom: 30px;
      margin-inline: 2vw;
    }
    @include sm {
      width: 40vw;
      margin-bottom: 30px;
      margin-inline: 10px;

      // margin-bottom: 30px;
    }
    .imgbox {
      aspect-ratio: 3/4;
    }
    .textbox {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 20%;
      bottom: 0%;
      left: 50%;
      transition: all 1.2s;
      transform: translateX(-50%);
      color: #fff;
    }
    .textbox p {
      font-size: 30px;
      letter-spacing: 3px;
      @include md {
        font-size: 24px;
      }

      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      .textbox {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
      }
      .textbox p {
        position: relative;
        top: 75%;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
