$primary: #137976;
$primary-dark: #0d5654;
$primary-light: #7fb8b6;
$primary-bg: #e5efef;
$secondary: #ffce56;

// 字體配色
$font: #5f5f5f;
$font-light: #ffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(186, 252, 181);
    cursor: pointer;
  }
}

//輪播圖
.mainphoto {
  margin: 150px;
  max-width: 80;
  height: 70%;

  img {
    width: 100%;
    object-fit: cover;
  }
}

//搜尋欄
.divsearch {
  margin: 5%;
}

//搜尋標籤
.card-dog {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
  flex-wrap: wrap;
  margin: 5%;
}

//搜尋search頁
.hotelSearch {
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  background-color: #addddb;
  position: relative;
  border-radius: 8px;
  height: 250px;
  margin: auto;

  input,
  button {
    padding: 0.25rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #a5c4c3;
    border-radius: 8px 0px 0px 8px;
    position: relative;
    top: -45%;
    left: 13%;
    width: 70%;
  }
  button {
    background-color: $primary;
    border-radius: 0px 8px 8px 0;
    border: 1px solid $primary;
    width: 50px;
    svg {
      color: $font-light;
      width: 20px;
      height: 20px;
      margin: auto;
      height: 100%;
    }
  }
}

.texthead {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  .css-1u9des2-indicatorSeparator {
    display: none;
  }
  .css-13cymwt-control {
    border-radius: 20px;
    margin-top: -40px;
  }
  .css-t3ipsp-control {
    border-radius: 20px;
    margin-top: -40px;
  }
  p {
    font-size: 24px;
    font-weight: bold;
    font-family: Noto Sans SC;
    color: $font;
  }
  ul {
    margin-top: -30px;
  }
  li {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Noto Sans SC;
    color: $font;
    padding: 8px 0;
  }
}

@media screen and (max-width: 1000px) {
  .texthead {
    select {
      width: 120px;
      height: 40px;
      border: 1px solid #bababa;
      border-radius: 50px;
      font-size: 24px;
    }
    li {
      font-size: 20px;
    }
  }
}

//新的search標籤CSS
.textsection2 {
  padding-left: 10px;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;
    border-left: 2px solid $font;
  }
  li {
    width: 50%; /* 兩列，每列佔據50%的寬度 */
    box-sizing: border-box;
  }
}

.container {
  hr {
    border: 5px solid $primary;
    border-radius: 3px;
    max-width: 900px;
  }
  h4 {
    margin: 20px;
  }
  .text-p {
    width: 45%;
    margin-left: 20px;
  }
  ol {
    li {
      margin-left: 10px;
    }
  }
  .imgphoto {
    transform: translate(190%, -80%);
  }
}

//房間頁roomphoto相簿照片效果測試
/* 模态框背景样式 */
.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
  display: flex; /* 將 display 屬性改為 grid */
  place-items: center; /* 將相框置中 */
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}
/* 模态框内容样式 */
.modal-content {
  // position: relative;
  // background-color: #fff;
  // padding: 30px;
  // max-width: 800px;
  // max-height: 80vh;
  // transform: translate(-170%, 20%); /* 將相框水平垂直置中 */
  // left: 50%;
  position: relative;
  top: 100px;
  max-height: 80vh;
  width: 40%; /* 或者你想要的宽度，例如500px */
  padding: 30px;
  margin: -20%;
}
//相片關閉按鈕
.close {
  position: absolute;
  transform: translateX(20px);
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

// Weather資料CSS
.weatherContainer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  // Weather天氣資料CSS
  .weather-card {
    position: relative;
    min-width: 380px;
    box-shadow: 0 1px 3px 0 #8b8b8b;
    background-color: #f1f0f0;
    box-sizing: border-box;
    padding: 30px 15px;
    .location {
      font-size: 28px;
      color: #212121;
      margin-bottom: 20px;
    }
    .description {
      font-size: 42px;
      color: #828282;
      margin-bottom: 30px;
    }
    .currentWeather {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .temperature {
        color: #757575;
        font-size: 32px;
        font-weight: 400;
        display: flex;
      }
    }

    .airFlow {
      display: flex;
      align-items: center;
      font-size: 16x;
      font-weight: 300;
      color: #828282;
      margin-bottom: 20px;
    }
    .rain {
      display: flex;
      align-items: center;
      font-size: 16x;
      font-weight: 300;
      color: #828282;
      margin-left: 20px;
    }
    .refresh {
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-size: 12px;
      display: inline-flex;
      align-items: flex-end;
      color: #828282;
    }
  }
}

.detailsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .weatherContainer {
    margin-top: 30%;
  }
}

//分頁 page的CSS------------------
//在pscall裡
.pagecontent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

//在page裡
.pagebutton {
  display: flex;
  justify-content: center;
  font-size: 30px;
  button {
    border: none;
    margin: 30px 20px;
    color: $primary-dark;
    font-weight: bold;
    background-color: #fff;
  }
  button[disabled] {
    color: rgb(107, 105, 105, 0.5);
  }
  button.current-page {
    color: #fff;
    background-color: $primary-dark;
    width: 40px;
    border-radius: 5px;
  }
}

// 第三頁面的客房表格 CSS

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  td,
  th {
    border: 2px solid #212121;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $primary-dark;
    color: white;
  }
}
