//RWD--------
@mixin nopc {
  @media (max-width: 1650px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// @include pad {
//     min-width: 300px; //TODO RWD要設定縮小
//     font-size: 24px;
//     font-weight: 600;
//     margin: 10px 0 0 50px;
// }

//   commonCard2元件使用
.commonCard2 {
  max-width: 360px;
  max-height: 480px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid #bababa;
  background: #fff;
  padding: 30px 30px 15px 30px;
  margin-top: 20px; //宣增加的設定
  overflow: hidden;
  @include nopc {
    padding: 20px 20px 9px 20px;
  }

  @include pad {
    max-width: 300px;
    max-height: 400px;
  }

  .imgbox {
    height: 300px;
    width: '100%';

    @include pad {
      height: 240px;
    }
  }

  .imgboxhover {
    transform: scale(1.4, 1.15) translateY(-10px);
    border-radius: 5px;
  }

  .textbox {
    margin: 15px 0px 0 0px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .iconblock {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  .fontnull {
    visibility: hidden;
  }
  // 文字置中
  .text-center {
    text-align: center;
  }
  .h4 {
    color: #0d5654;
    font-size: 24px;
    letter-spacing: 4.8px;

    @include nopc {
      font-size: 18px;
    }
  }

  .font {
    font-family: Hanuman;
    font-weight: 700;
  }

  .p {
    margin: 15px 0 0 0;
    font-size: 16px;
    letter-spacing: 3.2px;

    @include nopc {
      font-size: 12px;
    }
  }

  .p-st1 {
    color: #f09f03;
  }

  .p-st2 {
    color: #7fb8b6;
  }

  .buttonStyle {
    border: 0;
    background: transparent;
    width: 40px;
    height: 40px;

    @include nopc {
      width: 30px;
      height: 30px;
    }
  }
}

//   commonCard2元件使用

//   ticketPd使用
.ticketPd {
  margin-top: 100px;

  // 水平左右置中
  @mixin flex-between {
    justify-content: space-between;
    align-items: center;
  }

  // 垂直上下
  @mixin flex-alien-between {
    flex-direction: column;
    justify-content: space-between;
  }

  // 水平置中
  @mixin flex-center {
    display: flex;
    justify-content: center;
  }

  .flex-center {
    @include flex-center;
  }

  .between {
    @include flex-between;
  }

  .title {
    display: flex;
    @include flex-between;

    .buttonStyle {
      border: 0;
      background: transparent;
      width: 40px;
      height: 40px;
    }
  }

  .line-border-3cm {
    border: 3px solid #0d5654;
    margin-block: 30px;
  }

  .introduction {
    display: flex;
    //   margin-block: 60px;
    //   margin-left: 30px;
    row-gap: 15px;
    flex-direction: column;
  }

  .click-button-box {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 415px;
    max-height: 194px;
    text-align: center;
    row-gap: 15px;
    padding: 30px;

    .button-text {
      font-family: Noto Sans SC;
      font-size: 20px;
      font-weight: 400;
    }

    //   小購買按鈕
    .click-button {
      border-radius: 19px;
      border: #137976 1px solid;
      background: #137976;
      display: flex;
      width: 100%;
      //   height: 100%;
      //   padding: ato;
      justify-content: center;
      align-items: center;

      color: #fff;
      font-family: Noto Sans SC;
      font-weight: 700;
    }
  }

  //   大購買按鈕
  .buy-box {
    margin-block: 30px;
    .buy-button {
      border-radius: 10px 10px 20px 20px;
      border: 4px solid #0d5654;
      background: #e5efef;
      width: 600px;
      padding: 19px 17px;
      @include flex-center;

      .buy-button-text {
        padding: 10px 50px;
        border-radius: 20px;
        background: #137976;
        color: #fff;
        font-family: Noto Sans SC;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  //販售票卷種類
  .buy-card-box {
    display: flex;
    justify-content: center;
  }

  //問題很多的svg
  .buy-card {
    width: 100%;
    height: 100%;
    background-image: url('/images/ticket/ticket.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .left-text {
  }

  .right-button {
  }

  .p-style-light {
    text-align: start;
    color: #fff;
  }

  .p-style-dark {
    text-align: start;
    white-space: pre-wrap;
  }

  .sectionbg-dark {
    //   margin: -30px -60px -30px -30px;
    padding: 30px 60px 30px 30px;
    border-radius: 25px;
    background: #0d5654;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;
  }

  .sectionbg-white {
    background: #fff;
  }

  .sectionbg-E5EFEF {
    background: #e5efef;
  }

  .nobcakground {
    background: transparent;
  }
}
